body {
    color:darkgreen; 
    background-color: rgb(189, 180, 153);
    font-family: sans-serif;
}

a {
    color:yellow;
    background-color:rgb(31, 24, 10) ;
}

nav {
    background-color:rgb(31, 24, 10) ;
}